# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Exclude from release archives
.gitattributes export-ignore
.gitignore export-ignore
exclude.lst export-ignore
Makefile export-ignore
